style {
    
}

body { 
    background-color: floralwhite;
    color: black;
}

header {
    background-color: steelblue;
    color: white;
    padding: 1rem;
}

.Überschrift {
    color: Blue;
}

.Erste-Nav-Überschrift {
    color: purple;
}

#headline2 {
    color: hotpink;
}


/*Stylesheet für die Übungswebseite aus "Einstieg in HTML + CSS" */